.Deu{
    background-color: aquamarine;
}

.Cadastro{
    background-color: brown;
    color: black;

}

.Editar{
    background-color: chartreuse;
    color: aliceblue;
}

.Matheus{
    background-color: chocolate;
    color: black;
}


.Gustavo{
    background-color: maroon;
    color: black;
}