* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contêiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f4f800;
    min-width: 1vw;
    padding: 1rem;

}

.contêiner h1 {
    text-align: center;
    margin: 1rem auto;
}

.contêiner label {
    display: flex;
    flex-direction: column;
}

.contêiner form {
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border: 1px solid #334155;
    border-radius: 1rem 5rem 1rem 5rem;
    background-color: #1E293B;
    color: #E2E8F0;
    min-height: 20rem;
    max-width: 20rem;
    padding: 2rem;


}

.contêiner div {
    padding: 1rem 0;
}

.contêiner input {
    height: 35px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 5px 10px;
    background-color: #0F172A;
    color: #E2E8F0;
}

.contêiner button {

    height: 35px;
    width: 50%;
    border: 1px solid transparent;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    margin: .5rem auto;
    background-color: #3B82F6;
    color: white;
    transition: background-color 0.25s;

}

.contêiner button:hover {
    background-color: #2563EB;
}


.contêiner a {
    color: #3B82F6;
    /* azul vibrante */
    text-decoration: none;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 1px solid transparent;
}

.contêiner a:hover {
    color: #60A5FA;
    /* azul mais claro no hover */
    border-bottom: 1px solid #60A5FA;
}