.fundo-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* fundo escuro */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: 0 0 20px #e2e8f021;
    border: 1px solid #334155;
    border-radius: 1rem 5rem 1rem 5rem;
    background-color: #1E293B;
    color: #E2E8F0;
    min-height: 20rem;
    min-width: 20rem;
    padding: 2rem;

    label {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        width: 100%;
        input {
        height: 35px;
        border-radius: 5px;
        outline: none;
        border: none;
        padding: 5px 10px;
        background-color: #0F172A;
        color: #E2E8F0;
        width: 100%;
        }
    }

    .ComfirmaEdição{
        height: 40px;
        width: 50%;
        border: 1px solid transparent;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
        margin: .5rem auto;
        background-color: #0c6936;
        color: white;
        transition: background-color 0.25s;
    }
    .ComfirmaEdição:hover{
        background-color: #108544;
        border: 1px solid rgb(7, 7, 7);

    }
    .CancelaEdiçao:hover{
        background-color: rgb(172, 39, 39);
        border: 1px solid rgb(7, 7, 7);

    }

    .CancelaEdiçao{
        height: 40px;
        width: 50%;
        border: 1px solid transparent;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
        margin: .5rem auto;
        background-color: rgb(114, 26, 26);
        color: white;
        transition: background-color 0.25s;

    }
    div{
        display: flex;
        gap: .2rem;
    }


}

.conteinerProdutos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.meusProdutos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    padding: 2rem;
    margin-top: .5rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border: 1px solid #334155;
    border-radius: 1rem;
    background-color: #1E293B;
    color: #E2E8F0;
    width: 30%;
    gap: .5rem;
    h1{
        text-align: center;
    }
}

.produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #0F172A;
    color: #E2E8F0;
    border: 1px solid #334155;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 1.5rem;
    gap: .4rem;


    h2 {

        color: #3B82F6;
        align-self: center;
    }

    button {

        height: 35px;
        width: 70px;
        border: 1px solid transparent;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: #3B82F6;
        color: white;
        transition: background-color 0.25s;

    }

    button:hover {

        border: 1px solid black;
    }

    div {
        display: flex;
        gap: .5rem;
    }

    .editar {
        background-color: rgb(27, 104, 78);
    }

    .editar:hover {
        background-color: rgb(40, 156, 117);
    }

    .excluir {
        background-color: rgb(114, 26, 26);
    }

    .excluir:hover {
        background-color: rgb(172, 39, 39);
    }

}

.cont-produtos {
    display: flex;
    flex-wrap: wrap;
    gap: .7rem;
}

.todosProdutos {
    display: flex;
    flex-direction: column;

    h1 {
        text-align: center;
    }

    h2 {
        color: #3B82F6;
    }
}

.todosProdutos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    padding: 2rem;
    margin-top: .5rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border: 1px solid #334155;
    border-radius: 1rem;
    background-color: #1E293B;
    color: #E2E8F0;
    width: 30%;
    gap: .5rem;
}